USE [master]
GO
/****** Object:  Database [Entrega]    Script Date: 28/11/2025 03:43:30 ******/
CREATE DATABASE [Entrega]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Entrega', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Entrega.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Entrega_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Entrega_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Entrega].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Entrega]
GO
/****** Object:  Table [dbo].[Eventos]    Script Date: 28/11/2025 03:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eventos](
	[NOMBRE] [varchar](50) NOT NULL,
	[DESCRIPCION] [varchar](200) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRECIO] [float] NOT NULL,
	[CANTIDAD] [int] NULL,
 CONSTRAINT [PK_Eventos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 28/11/2025 03:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[METODO] [varchar](50) NOT NULL,
	[MONTO] [float] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[APROBADO] [bit] NOT NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 28/11/2025 03:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[USUARIO] [varchar](50) NOT NULL,
	[ID_EVENTO] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_FACTURA] [int] NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/11/2025 03:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[DNI] [int] NOT NULL,
	[CONTRASEÑA] [varchar](100) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[ADMIN] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Eventos] ON 

INSERT [dbo].[Eventos] ([NOMBRE], [DESCRIPCION], [ID], [PRECIO], [CANTIDAD]) VALUES (N'YSY A', N'ysy en obras', 1, 60000, 192)
INSERT [dbo].[Eventos] ([NOMBRE], [DESCRIPCION], [ID], [PRECIO], [CANTIDAD]) VALUES (N'Nicky nicole', N'mejor show blabla', 2, 30000, 149)
INSERT [dbo].[Eventos] ([NOMBRE], [DESCRIPCION], [ID], [PRECIO], [CANTIDAD]) VALUES (N'Luis miguel', N'Luis miguel en obras', 3, 10, 2000)
SET IDENTITY_INSERT [dbo].[Eventos] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([ID], [USUARIO], [METODO], [MONTO], [FECHA], [APROBADO]) VALUES (2, N'1234', N'vacio', 0, CAST(N'2025-11-27T14:26:40.510' AS DateTime), 0)
INSERT [dbo].[Facturas] ([ID], [USUARIO], [METODO], [MONTO], [FECHA], [APROBADO]) VALUES (3, N'1234', N'vacio', 0, CAST(N'2025-11-27T14:27:36.870' AS DateTime), 0)
INSERT [dbo].[Facturas] ([ID], [USUARIO], [METODO], [MONTO], [FECHA], [APROBADO]) VALUES (4, N'1234', N'vacio', 0, CAST(N'2025-11-27T14:28:25.113' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([USUARIO], [ID_EVENTO], [ID], [ID_FACTURA]) VALUES (N'Profesor', 1, 66, 47)
INSERT [dbo].[Tickets] ([USUARIO], [ID_EVENTO], [ID], [ID_FACTURA]) VALUES (N'Profesor1', 1, 67, 47)
INSERT [dbo].[Tickets] ([USUARIO], [ID_EVENTO], [ID], [ID_FACTURA]) VALUES (N'Profesor1', 3, 68, 48)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
INSERT [dbo].[Usuarios] ([NOMBRE], [APELLIDO], [DNI], [CONTRASEÑA], [USUARIO], [ADMIN]) VALUES (N'Fran', N'Elder', 47083470, N'123', N'123', 1)
INSERT [dbo].[Usuarios] ([NOMBRE], [APELLIDO], [DNI], [CONTRASEÑA], [USUARIO], [ADMIN]) VALUES (N'123', N'123', 69, N'$2a$12$1mfVFN9Z9G8RG1oJZVAgyuFjlJfY3NOj5TI9H9/TI0IOH60a5Ebfi', N'123123', 0)
INSERT [dbo].[Usuarios] ([NOMBRE], [APELLIDO], [DNI], [CONTRASEÑA], [USUARIO], [ADMIN]) VALUES (N'fdfdfd', N'fdfdf', 323232323, N'$2a$12$WcRqGUkAP7cbUQRcz7IS6eEcIZ50bH.76eG8lTfj4sn6z40umtgBK', N'1234', 1)
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Usuarios] FOREIGN KEY([USUARIO])
REFERENCES [dbo].[Usuarios] ([USUARIO])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Usuarios]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Eventos] FOREIGN KEY([ID_EVENTO])
REFERENCES [dbo].[Eventos] ([ID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Eventos]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Facturas1] FOREIGN KEY([ID_FACTURA])
REFERENCES [dbo].[Facturas] ([ID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Facturas1]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Usuarios] FOREIGN KEY([USUARIO])
REFERENCES [dbo].[Usuarios] ([USUARIO])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Usuarios]
GO
USE [master]
GO
